.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  main {
    background: #8f8f8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
}
