@import "../../styles/base/mixins";
@import "../../styles/base/variables";

.test__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;

  .test-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    button {
      @include button-base;
      padding: 2px 5px;

      @include tablet {
        font-size: $font-medium;
      }
    }

    &__input {
      padding: 2px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }

    .test-btn--submit {
      background: $btn-color-primary;
    }

    .test-form__group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .test-form-btn__container {
      width: 100%;
      gap: 50px;
      display: flex;

      .test-btn--reset {
        background: $btn-color-secondary;
      }
      .test-btn--show {
        margin-left: auto;
        background: #e74c3c;
      }
    }
  }

  .course__table-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    table {
      background: rgba(255, 255, 255, 0);

      @include tablet {
        font-size: $font-medium;
      }

      @include laptop {
        font-size: $font-large;
      }

      th {
        padding: 10px;
        background: #325aa6;
        color: #fff;
      }
      td {
        background: #fff;
        padding: 5px;
      }
    }
  }
}
