@import "../../styles/base/mixins";
@import "../../styles/base/variables";

.form {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  background: hwb(0 81% 14% / 0.74);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  overflow: hidden;

  @include tablet {
    width: 500px;
  }

  h2 {
    text-align: center;
    font-size: $font-large;
  }
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-top: 5px;
  }

  &__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  &__words-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    min-height: 220px;
    overflow-y: auto;
    padding-right: 10px;
  }

  &__words-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }

  &__remove-btn-container {
    display: flex;
    justify-content: flex-end;

    .form__btn--remove {
      background: #e74c3c;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #c0392b;
      }
    }
  }

  &__input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__btn {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;

    @include tablet {
      margin: 0 auto;
      width: 50%;
    }

    &--new {
      &:hover {
        background: #2980b9;
      }
    }

    &--submit {
      background: #2ecc71;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

      &:hover {
        background: #27ae60;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }
    }
  }
}
