@import "../../index.scss";

.home__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 2rem;

  @include laptop {
    gap: 6rem;
  }

  .home__btn--create-course {
    @include button-base;
    margin-top: 40px;
    background: #0a3586;
    padding: 5px 10px;
  }
}
