@import "../../index.scss";

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-bottom: 20px;
  gap: 20px;

  .card__language {
    font-size: $font-large;
    color: #fff;
    width: 100%;
    padding-top: 20px;
    background: #325aa6;
    display: block;
    text-align: center;

    @include laptop {
      font-size: $font-xlarge;
    }
  }

  .card__subject {
    font-size: $font-medium;
  }

  .card__btn--practice {
    @include button-base;
    background: $btn-color-secondary;
    padding: 5px 10px;
    margin-top: 10px;
  }
}
