header {
  background: #fff;
  position: sticky;
  z-index: 100;
  top: 0;
  height: 70px;

  &.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
