@import "../../index.scss";

.create-course__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  @include tablet {
    gap: 100px;
  }
  @include laptop {
    gap: 100px;
  }

  .back-btn {
    @include button-base;
    color: #000;
    align-self: flex-start;
    background: none;
    margin: 10px;
  }
}
