@import "../../index.scss";

.create-course__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  .back-btn {
    @include button-base;
    color: #000;
    align-self: flex-start;
    background: none;
    margin: 10px;
  }
}
