@import "../../index.scss";

.create-course__container {
  margin-top: 40px;

  .back-btn {
    @include button-base;
    color: #000;
    align-self: flex-start;
    background: none;
    margin: 10px;
  }
}
