//fonts
$font-medium: 20px;
$font-large: 32px;
$font-xlarge: 40px;

//buttons
$btn-color-primary: #0a3586;
$btn-color-secondary: #ce49e6;

//screens
$tablet: 768px;
$laptop: 1024px;
$large_laptop: 1200px;
